        @import url(../fonts/roboto-gh-pages/roboto.css);
        body,
        html {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: block;
            margin: 0;
            padding: 20px 20px;
            background-color: rgb(57, 57, 224);
            font-family: roboto;
            font-weight: 600;
        }
        
        a {
            text-decoration: none;
            color: black;
        }
        
        p {
            font-size: larger;
            overflow: hidden;
            color: #959595;
        }
        
        content {
            width: 100%;
            height: 100%;
            display: block;
            overflow: auto;
        }
        
        .MultiStyle {
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: 1980px;
        }
        
        header {
            background-color: white;
            height: 100px;
            text-align: center;
        }
        
        header div {
            margin: 0 100px;
            display: grid;
            border-bottom: 5px solid gray;
            grid-template-columns: 25% 25% 25% 25%;
            background-color: white;
            height: 95%;
            grid-template-rows: 100%;
        }
        
        .backG {
            background-repeat: no-repeat;
            padding: 18px 0px;
            background-size: contain;
            margin: 9px 38px;
        }
        
        Hitem {
            display: block;
            margin: 8px 16px;
            color: black;
        }
        
        Hitem img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        
        subHeader {
            display: block;
            height: 70px;
            background-color: white;
        }
        
        subHeader div {
            margin: 0 100px;
            padding: 10px;
            height: 100%;
        }
        
        .BKGCORF {
            background-color: blueviolet;
            color: greenyellow;
            font-size: 13pt;
            font-weight: bolder;
        }
        
        .SHL:hover {
            background-color: blue;
        }
        
        .SHL {
            display: inline-block;
            float: left;
            border-radius: 20px;
            transition: all ease 0.5s;
            padding: 16px 28px;
        }
        
        .SHR:hover {
            margin: 0px 0px;
        }
        
        .SHR {
            display: inline-block;
            margin: 12px 15px;
            float: right;
            transition: all ease 0.5s;
        }
        
        slider_1st {
            background-image: url(../images/slider1.jpg);
            background-size: cover;
            height: 500px;
            background-attachment: fixed;
        }
        
        slider_1st div {
            text-align: center;
            padding: 140px 0px 0px 1286px;
            width: 25%;
            height: 50%;
        }
        
        slider_1st div input:hover {
            width: 130px;
            height: 60px;
        }
        
        slider_1st div input {
            background-color: blue;
            color: white;
            width: 110px;
            height: 45px;
            border-radius: 50px;
            transition: all ease 0.5s;
        }
        
        learnMore {
            height: 400px;
            text-align: center;
        }
        
        learnMore divv {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
        }
        
        #blkLung {
            background-color: #43B1D2;
            color: white;
        }
        
        #blkbrain {
            background-color: #3EB6C6;
            color: white;
        }
        
        #blkheli {
            background-color: #3DBBBA;
            color: white;
        }
        
        #blkambulan {
            background-color: #37C3A8;
            color: white;
        }
        
        learnMore divv item div {
            width: 50%;
            height: 100%;
            margin: 91px auto 92px;
        }
        
        learnMore divv item div img:hover {
            width: 140px;
            height: 140px;
        }
        
        learnMore divv item div img {
            width: 120px;
            height: 120px;
            transition: all ease 0.5s;
        }
        
        WhyChooseUs {
            height: 1000px;
            background-color: white;
        }
        
        WhyChooseUs div {
            display: block;
            background-image: url(../images/WhyChooseUs.jpg);
            background-repeat: no-repeat;
            background-position: center bottom;
            width: 100%;
            height: 100%;
            background-size: 550px;
        }
        
        WhyChooseUs div WHead {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 40%;
            padding: 41px;
            text-align: center;
        }
        
        WhyChooseUs div WBody {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 35% 35%;
            text-align: left;
        }
        
        WhyChooseUs div p:hover {
            padding: 14px 0px 14px 0px;
        }
        
        WhyChooseUs div p {
            width: 570px;
            height: 130px;
            background-repeat: no-repeat;
            padding: 14px 0px 14px 92px;
            max-height: 60px;
            transition: all ease 0.5s;
        }
        
        #H4virus {
            background-image: url(../images/virus.jpg);
            margin: 5% 115px 0px 0px;
            float: right;
        }
        
        #H4beaker {
            background-image: url(../images/beaker.jpg);
            margin: 8% 0px 0px 138px;
            float: left;
        }
        
        #H4stethoscope {
            background-image: url(../images/stethoscope-medical-tool.jpg);
            margin: 22% 267px 0px 0px;
            float: right;
        }
        
        #H4microscope {
            background-image: url(../images/microscope-side-view.jpg);
            margin: 19% 0px 0px 272px;
            float: left;
        }
        
        slider_2nd {
            background-image: url(../images/slider2.jpg);
            background-size: cover;
            height: 700px;
            background-attachment: fixed;
        }
        
        slider_2nd S2Tbl {
            display: grid;
            height: 100%;
            width: 80%;
            grid-template-columns: 25% 25% 25% 25%;
            color: white;
            text-align: center;
            margin: 0 auto;
        }
        
        slider_2nd S2Tbl p {
            color: white;
            font-size: 23pt;
        }
        
        slider_2nd S2Tbl S2item {
            display: block;
            padding: 20% auto;
            background-repeat: no-repeat;
            background-position: center calc(50% - 30px);
        }
        
        slider_2nd S2Tbl S2item h2 {
            margin: 100% 0% 0% 0%;
        }
        
        HowWeWork {
            height: 900px;
            background-color: white;
            text-align: left;
        }
        
        HowWeWork HOheader {
            display: grid;
            height: 20%;
            width: 80%;
            grid-template-columns: 60% 40%;
            margin: 0 auto;
        }
        
        #cencen {
            margin: 22px 105px;
        }
        
        HowWeWork HObody {
            display: grid;
            height: 80%;
            width: 80%;
            grid-template-columns: 33.3333% 33.3333% 33.3333%;
            margin: 0 auto;
        }
        
        HowWeWork HObody p,
        HowWeWork HObody img {
            display: block;
            width: calc(100% - 23px);
            overflow: hidden;
        }
        
        HowWeWork HObody a:hover {
            padding: 30px 13px 30px 100px;
            background-color: blue;
        }
        
        HowWeWork HObody a {
            border-radius: 75px;
            background-color: #EBEBEB;
            background-image: url(../images/circle.png);
            background-repeat: no-repeat;
            background-size: contain;
            padding: 23px 13px 23px 79px;
            margin: 0px 0px 38px 0px;
            display: block;
            height: 22px;
            transition: all ease 0.5s;
        }
        
        gallery {
            background-image: url(../images/slider2.jpg);
            background-size: cover;
            height: 820px;
            background-attachment: fixed;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
        }
        
        GTbl {
            display: block;
            width: 80%;
            height: 100%;
            margin: 0 auto;
        }
        
        gallery Gheader {
            display: grid;
            grid-template-columns: 100%;
            color: white;
        }
        
        gallery Gbody {
            display: grid;
            grid-template-columns: 33.3333% 33.3333% 33.3333%;
            grid-template-rows: 40% 40%;
        }
        
        GBitem img {
            width: calc(100% - 32px);
            height: calc(100% - 32px);
        }
        
        ourteam {
            height: 820px;
            background-color: white;
            text-align: center;
        }
        
        ourteam OTtbl {
            display: block;
            width: 80%;
            height: 100%;
            margin: 0 auto;
        }
        
        ourteam OTheader {
            display: grid;
            grid-template-columns: 100%;
        }
        
        ourteam OTbody {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
        }
        
        ourteam OTitem:hover {
            margin: 70px 0px;
        }
        
        ourteam OTitem {
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            padding: 400px 0px 0px 0px;
            margin: 70px 27px;
            transition: all ease 0.5s;
        }
        
        ourteam OTitem a:hover {
            margin: 0px 7px;
        }
        
        ourteam OTitem a {
            margin: 0px 16px;
            transition: all ease 0.5s;
        }
        
        middle {
            display: block;
            height: 200px;
            background-color: #E1E1E1;
            text-align: center;
        }
        
        middle a:hover {
            padding: 30px;
        }
        
        middle h1,
        middle a {
            display: inline-block;
            margin: 67px 34px;
            padding: 20px;
            transition: all ease 0.5s;
        }
        
        middle a {
            background-color: blue;
            border-radius: 44px;
        }
        
        footer {
            display: block;
            height: 600px;
            background-color: #171717;
        }
        
        footer Ftbl {
            display: grid;
            height: 100%;
            width: 80%;
            margin: 0 auto;
            grid-template-columns: 25% 25% 25% 25%;
            color: white;
            text-align: left;
        }
        
        fitemSpi {
            display: flow-root;
            padding: 0px 87px;
            background-repeat: no-repeat;
            margin: 40px 0px;
            background-position: left;
            background-size: 70px;
        }
        
        footer fitem a:hover {
            margin: 38px 0px;
        }
        
        footer fitem a {
            margin: 38px 10px;
            padding: 24px 4px;
            transition: all ease 0.5s;
        }
        
        footer fitem div a {
            display: block;
            color: white;
            background-image: url(../images/FooterList.jpg);
            padding: 1px 36px;
            background-repeat: no-repeat;
            border-radius: 10px;
        }
        
        fitemSpicial {
            display: block;
            border-bottom: 4px solid #464646;
            padding: 39px 0px 8px 0px;
        }
        
        fitemSpicial p,
        fitemSpicial input {
            display: inline-block;
            margin: 0px 22px;
        }
        
        fitemSpicial input {
            background-color: #171717;
            width: 224px;
            height: 30px;
            border-radius: 20px;
        }
        
        #LastSubmit {
            background-color: blue;
            padding: 17px 29px;
            border-radius: 25px;
            color: white;
            display: block;
            float: left;
        }
        
        subfooter {
            background-color: #363636;
            height: 96px;
            text-align: center;
            color: #C2C2C2;
            padding: 58px 0px
        }
        
        @media only screen and (min-width:800px) {
            header,
            subHeader,
            slider_1st,
            learnMore,
            WhyChooseUs,
            slider_2nd,
            HowWeWork,
            gallery,
            ourteam,
            middle,
            footer,
            subfooter {
                max-width: 800px;
            }
            ourteam OTitem {
                padding: 213px 0px 0px 0px;
            }
            WhyChooseUs {
                height: 870px;
            }
            WhyChooseUs div {
                background-size: 434px;
            }
            WhyChooseUs div p {
                width: 271px;
                max-height: 130px;
                padding: 7px 0px 17px 77px;
                background-size: 71px;
            }
            #H4virus {
                margin: 10% 91px 0px 0px;
            }
            #H4beaker {
                margin: 19% 0px 0px 105px;
            }
            #H4stethoscope {
                margin: 4% 202px 0px 0px;
            }
            #H4microscope {
                margin: 11% 0px 0px 207px;
            }
            slider_2nd {
                height: 370px;
            }
            slider_2nd S2Tbl p {
                font-size: 18pt;
            }
            gallery {
                height: 500px;
            }
            ourteam {
                height: 630px;
            }
            footer Ftbl {
                width: 95%;
            }
            footer fitem a {
                margin: 38px 0px;
            }
            middle h1,
            middle a {
                margin: 18px 13px;
            }
            fitemSpi {
                padding: 0px 0px 0px 75px;
            }
            .backG {
                padding: 5px 62px;
                background-size: 60px;
                margin: 10px -7px;
            }
            .SHL {
                padding: 16px 13px;
            }
            slider_1st div {
                padding: 170px 0px 0px 690px;
                width: 33%;
            }
        }
        
        @media only screen and (min-width:1980px) {
            header,
            subHeader,
            slider_1st,
            learnMore,
            WhyChooseUs,
            slider_2nd,
            HowWeWork,
            gallery,
            ourteam,
            middle,
            footer,
            subfooter {
                max-width: 1980px;
            }
            ourteam OTitem {
                padding: 400px 0px 0px 0px;
            }
            WhyChooseUs {
                height: 1000px;
                background-color: white;
            }
            WhyChooseUs {
                height: 1000px;
            }
            WhyChooseUs div {
                background-size: 550px;
            }
            WhyChooseUs div p {
                width: 570px;
                max-height: 60px;
            }
            #H4virus {
                margin: 5% 115px 0px 0px;
            }
            #H4beaker {
                margin: 8% 0px 0px 138px;
            }
            #H4stethoscope {
                margin: 22% 267px 0px 0px;
            }
            #H4microscope {
                margin: 19% 0px 0px 272px;
            }
            slider_2nd {
                height: 700px;
            }
            slider_2nd S2Tbl p {
                font-size: 23pt;
            }
            gallery {
                height: 820px;
            }
            ourteam {
                height: 820px;
            }
            footer Ftbl {
                width: 80%;
            }
            footer fitem a {
                margin: 38px 10px;
            }
            middle h1,
            middle a {
                margin: 67px 34px;
            }
            fitemSpi {
                padding: 0px 87px;
            }
            .backG {
                padding: 18px 0px;
                margin: 9px 38px;
            }
            .SHL {
                padding: 16px 28px;
            }
            slider_1st div {
                padding: 140px 0px 0px 1286px;
                width: 25%;
            }
        }